{
  "rules": {
    "comma-dangle": [2, "never"],
    "semi": [2, "always"],
    "strict": [2, "global"],
    "arrow-body-style":2,
    "no-const-assign":2,
    // 要求箭头函数的参数使用圆括号
		"arrow-parens":2,
		"arrow-spacing":[2,{"before":true,"after":true}],
    // 不允许多个空行
		"no-multiple-empty-lines": [2, {"max":2}],
    // 控制逗号前后的空格
		"comma-spacing": [2, {"before":false,"after":true}],
    // 禁止或强制在单行代码块中使用空格(禁用)
		"block-spacing":[2,"never"],  
		// 指定数组的元素之间要以空格隔开(, 后面)， never参数：[ 之前和 ] 之后不能带空格，always参数：[ 之前和 ] 之后必须带空格
		"array-bracket-spacing": [2,"never"],
    // 禁止条件表达式中出现赋值操作符
		"no-cond-assign":2,
		// 禁止 function 定义中出现重名参数
		"no-dupe-args":2,
		// 禁止重复的 case 标签
		"no-duplicate-case":2,
		// 禁止对 catch 子句的参数重新赋值
		"no-ex-assign":2,
		// 禁止对 function 声明重新赋值
		"no-func-assign":2,
		// 禁止在字符串和注释之外不规则的空白
		"no-irregular-whitespace":2,
		// 禁止正则表达式字面量中出现多个空格
		"no-regex-spaces":2,
		// 禁止出现令人困惑的多行表达式
		"no-unexpected-multiline":2,
		// 不允许对 function 的参数进行重新赋值
		"no-param-reassign":0,
		// 禁止将变量初始化为 undefined
		"no-undef-init":2
  },
  "parser": "babel-eslint",
  "globals": {
    "configHost": true    
  },
  "env": {
		"browser":true,
		"node":true,
		"commonjs":true,
		"amd":true,
		"es6":true,
		"mocha":true
 },
}