node_modules/
.idea/
.tmp/
dist/
coverage/
mocks/mock-api/

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rdb
*.pdb
*.lock

/mocks/.gitignore
/mocks/mock-api
/mocks/mock-api/all.GET.response.200.json

/app/vender/bootstrap-select
/app/vender/jquery-cxSelect
/app/vender/easydropdown
/package-lock.json
